.login label {
    text-align: center;
    font-size: 1.25em;
    padding-top: 1em;
    display:flex;
    flex-direction:inherit;
    font-weight: bold;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    border: rgb(171, 128, 240);
    border-radius: 2mm;
    background-color: lightgreen;
    
  }
  h3 {
    text-align: center;
  }

  .nav-form {
    display:flex;
margin-right: 5px;
  }
  .input {
    margin-right: 5px;

  }