.project-title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
  }
  
  .nav-style {
    border-radius: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;

  }

  .right-buttons {
    margin-left: 50%;
  }



  